p{
    text-align: center;
    text-size-adjust: 18px;
    margin-bottom: 30%;
    margin-top: 3%;
    font-size: 20px;
}

.h{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.img{
    position: relative  123px 312;
}